[class*="col-lg-"],[class*="col-md-"],
[class*="col-sm-"],[class*="col-xs-"]{
    padding-right:0 !important;
    padding-left:0 !important;
    padding-top:0 !important;
    padding-bottom: !important;
}